---
permalink: /stitky/
layout: layouts/home.njk
---
<h1>Přehled štítků</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/stitky/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{% endfor %}
